{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Message Sent Successfully</h1>
        <p>Your message has been sent successfully. Thank you!</p>
        <a href="{{ path('app_public') }}">Back to website</a>
    </div>
{% endblock %}
